html{
	background-color: coral;
	letter-spacing: 0.5px;
	word-spacing: 1px;
}

#hi{
	color: white; 
}

h1, h2{
	color: green;
	font-family: Trebuchet MS;
	font-weight:normal;
	font-style:normal;
}

.p{
  font-size: 100%;
}

.p:first-letter{
  color: #900;
  font-weight: bold;
  font-size: 250%;
}

a{
	text-decoration: none;
}

a:hover{
	background-color: none;
	text-decoration: underline;
}